name: Nagios CI/CD local

on:
  push:
    branches: [ "main" ]
  workflow_run:
    workflows: ["Agregar PCs PC-LAB autom치ticamente"]
    types:
      - completed

env:
  REPO_CFG_DIR: nagios_conf
  NAGIOS_ETC_DIR: /usr/local/nagios/etc
  REPO_CFG_FILE: nagios_conf/nagios.cfg
  NAGIOS_CFG_FILE: /usr/local/nagios/etc/nagios.cfg

jobs:
  validate_and_deploy:
    runs-on: self-hosted
    # Si el disparo fue por workflow_run, solo queremos correr si termin칩 en success
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validar configuraci칩n desde el repo
        run: |
          test -f "$REPO_CFG_FILE"
          sudo /usr/local/nagios/bin/nagios -v "$REPO_CFG_FILE"

      - name: Copiar configs al directorio de Nagios
        run: |
          rsync -az --delete "${REPO_CFG_DIR}/" "${NAGIOS_ETC_DIR}/"

      - name: Validar configuraci칩n final y recargar Nagios
        run: |
          sudo /usr/local/nagios/bin/nagios -v "$NAGIOS_CFG_FILE"
          sudo systemctl reload nagios || sudo service nagios reload

